# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/wiki

# Discard vscode workspace
Core.code-workspace
/.vscode
.vscode/settings.json
/.vscode/settings.json
